<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <h1>Game</h1>
    <p>Player 1 : {{ namePlayer1 }}</p>
    <p>Player 2 : {{ namePlayer2 }}</p>
    <img src="{{ url_for('static', filename='aces_against_ranked_receiver.png') }}">
    <img src="{{ url_for('static', filename='aces_against_ranked_server.png') }}">
    <img src="{{ url_for('static', filename='aces_last_10_matches.png') }}">
    <img src="{{ url_for('static', filename='receive_stats_last_10_matches.png') }}">

    <button onclick="window.location.href = '/';">Back</button>
</body>
</html>

<!--TODO a rajouter: Nombres aces mis / Nombres aces pris (oppon) / Prédiction 1 / Prédiction 2-->
<!--TODO a rajouter: Meilleure visualisation des datas, faire deux pages pour éviter de faire un par 1 (ou un bouton pr relance?)-->
<!--TODO a rajouter: Faire un troisième type de page pour pouvoir faire un profil des joueuses-->
